<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href=/assets/css/style.css>
    <style>
      mark { 
          background-color: #E3F9A6;
          color: black;
      }
    </style>

    <link rel="icon" 
        type="image/png" 
        href="https://github.com/peng-ju/peng-ju.github.io/blob/main/_layouts/img/logo.png">
  </head>

  <body>
  <div class="wrapper">
    <div class="topnav" style="font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;">
        <a href="/">Home</a>
        <a href="/ML">ML experience</a>
        <a href="/publications">Publications</a>
        <a href="/news">News</a>
        <a href="/blogs">Blogs</a>
    </div>
    
    <hr />

    <!-- <div style="width:700px"> -->
    <div style="width:100%; float:left">
        {{ content }}
    </div>
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
